apiVersion: v1
kind: ServiceAccount
metadata:
  name: sentinel
  namespace: default
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: sentinel-role
  namespace: default
rules:
- apiGroups: [""]
  resources: ["pods"]
  verbs: ["get", "list", "watch"]
- apiGroups: [""]
  resources: ["pods/log"]
  verbs: ["get", "list"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: sentinel-rolebinding
  namespace: default
subjects:
- kind: ServiceAccount
  name: sentinel
  namespace: default
roleRef:
  kind: Role
  name: sentinel-role
  apiGroup: rbac.authorization.k8s.io
